*{
    box-sizing: border-box;
  }

  $Maincolor : #e71c39;

  body,html,#app{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  h1,h2,h3,h4,h5,h6,p,span,a{
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    &::after , &::before{
      content: "";
      width: 50%;
      height: 100%;
      background-color: #fff;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
    }
    &::before{
      left: auto;
      right: 0;
      background-color: $Maincolor;
    }
  
    #nav{
      position: fixed;
      top: 50px;
      left: 50px;
      a{
        color: $Maincolor;
        font-weight: bold;
      }
    }
  }

  .main-content{
    width: 1400px;
   height: 820px;
   background-color: #ffffff;
   display: flex;
   flex-direction: row-reverse;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 45px;
   border-radius: 25px;
   box-shadow: 0px 0px 29px rgba(76, 76, 76, 0.47843137254901963);
}
.containr-image {
   flex-grow: 0;
   flex-basis: 60%;
   display: flex;
   align-items: center;
   justify-content: center;

   img{
     flex-grow: 1;
     max-width: 100%;
   }
}
.container-content{
 flex-grow: 0;
 flex-basis: 40%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: #4f4d4d;
 h1{
   font-size: 54px;
   margin-bottom: 23px;
   line-height: 70px;
   span {
     color: #ffffff;
     background-color: $Maincolor;
     padding: 6px 16px;
   }
 }
 input {
    width: 100%;
    padding: 20px;
    margin: 10px 0px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #4f4d4d;
  }
 .discription {
   font-style: italic;
   text-align: left;

   }
   .container-btns {
     margin-top: 115px;
       button {
         width: 180px;
         border: none;
         color: #fff;
         padding: 15px 45px;
         font-size: 24px;
         border-radius: 12px;
         box-shadow: 0px 0px 7px 0px #252525;
         margin: 0 25px;
         &:nth-of-type(1){
               background-color: #ffaa00;
         }
         &:nth-of-type(2){
               background-color: #0d5dbc;
         }
      
     }
        span{
           font-size: 20px
         }
   }
}

.main-content.login{
    .container-content {
        h1{
        margin-bottom: 50px;
        span {
            background-color: #ffaa00;
        }
        }
        input {
            &:active,&:focus{
                outline: none;
                border: 1px solid #ffaa00;
            }
        }
    .container-btns {
        margin-top: 81px;
        button {
          &:nth-of-type(1){
            background-color: #0d5dbc;
            width: 300px;
            padding: 20px;
          }
      }
    }
  }
}

.main-content.sign-up{
    .container-content{
        h1{
             margin-bottom: 50px;
        span {
            background-color: #ff2c9c;
        }
    }
    input {
        
        &:active,&:focus{
            outline: none;
            border: 1px solid #ff2c9c;
        }
        }
        .container-btns {
            margin-top: 81px;
            button {
                &:nth-of-type(1){
                        background-color: #0d5dbc;
                        width: 300px;
                        padding: 20px;
                }
            }
        }
    }
}

.main-content.article{
    .container-content{
            h1{
            margin-bottom: 50px;
            span {
                background-color: #00b8e5;
            }
        }
        input {
            &:active,&:focus{
                outline: none;
                border: 1px solid #00b8e5;
            }
        }
        .container-btns {
            margin-top: 40px;
            button {
                &:nth-of-type(1){
                        background-color: #0d5dbc;
                        width: 300px;
                        padding: 20px;
                }
            }
        }
    
    .trix-content {
        line-height: 1.5;
        max-height: 80px;
        overflow: auto;
        max-width: 604px;
    }
    .choose-image {
        display: flex;
        width: 100%;
        align-items: center;
        img{
            width: 100px;
            max-height: 65px;
            flex-shrink: 0;
        }
    }
 }
}